<div class="upper-content">
  <%= link_to('トップページに戻る',root_path,class:"top-btn") %>
</div>
<div class="grade">
  <h1>現在の<%= @user.name %>の成績</h1>
</div>
<h1 class="show-title">満点を取ったらチェックを入れよう！</h1>
<ul class="check-lists">
  <li class="check-box-area">
    <div class="check-list">
      <label><input type = "checkbox" class="checkbox">接頭辞pro,per,pro,pur</label>
    </div>
    <div class="master hidden">master!</div>
  </li>
  <li class="check-box-area">
    <div class="check-list">
      <label><input  type = "checkbox" class="checkbox">接頭辞pro,per,pro,pur</label>
    </div>
    <div class="master hidden">master!</div>
  </li>
  <li class="check-box-area">
    <div class="check-list">
      <label><input type = "checkbox" class="checkbox">接頭辞pro,per,pro,pur</label>
    </div>
    <div class="master hidden">master!</div>
  </li>
  <li class="check-box-area">
    <div class="check-list">
      <label><input type = "checkbox" class="checkbox">接頭辞pro,per,pro,pur</label>
    </div>
    <div class="master hidden">master!</div>
  </li>
  <li class="check-box-area">
    <div class="check-list">
      <label><input type = "checkbox" class="checkbox">接頭辞pro,per,pro,pur</label>
    </div>
    <div class="master hidden">master!</div>
  </li>
  <li class="check-box-area">
    <div class="check-list">
      <label><input type = "checkbox" class="checkbox">接頭辞pro,per,pro,pur</label>
    </div>
    <div class="master hidden">master!</div>
  </li>
</ul>
<script type="text/javascript">
  $(document).ready(function() {
    $('.checkbox').change(function() {
      var $this = $(this).parent().parent().next()
      let conplete_score = 0;
      if($this.hasClass('hidden')){
        $this.removeClass("hidden");
        conplete_score++;
        console.log(conplete_score)
      } else {
        $this.addClass("hidden");
        conplete_score--;
        console.log(conplete_score)
      }
    })
    
  });
</script>
