<div class="upper-content">
  <%= link_to('トップページに戻る',root_path,class:"top-btn") %>
</div>
<div class="grade">
  <h1>現在の<%= @user.name %>の成績</h1>
</div>
<h1 class="show-title">満点を取ったらチェックを入れよう！</h1>
<ul class="check-lists">
  <li class="check-box-area">
    <div class="check-list">
      <label><input type = "checkbox" class="checkbox">接頭辞pro,per,pro,pur</label>
    </div>
    <% if @user.pre_score == 100 %>
      <div class="master">master!</div>
    <% end %>  
  </li>
  <li class="check-box-area">
    <div class="check-list">
      <p class="checkbox">接頭辞pro,per,pro,pur</p>
    </div>
    <% if @user.input_words == 100 %>
      <div class="master">master!</div>
    <% end %>  
  </li>
  <li class="check-box-area">
    <div class="check-list">
      <label><input type = "checkbox" class="checkbox">接頭辞pro,per,pro,pur</label>
    </div>
    <div class="master hidden">master!</div>
  </li>
  <li class="check-box-area">
    <div class="check-list">
      <label><input type = "checkbox" class="checkbox">接頭辞pro,per,pro,pur</label>
    </div>
    <div class="master hidden">master!</div>
  </li>
  <li class="check-box-area">
    <div class="check-list">
      <label><input type = "checkbox" class="checkbox">接頭辞pro,per,pro,pur</label>
    </div>
    <div class="master hidden">master!</div>
  </li>
  <li class="check-box-area">
    <div class="check-list">
      <label><input type = "checkbox" class="checkbox">接頭辞pro,per,pro,pur</label>
    </div>
    <div class="master hidden">master!</div>
  </li>
</ul>
<div class="complete_result">
  <p id="complete-number"></p>
  <p id="comment"></p>
</div>
<script type="text/javascript">
  
    
    
  });
</script>
