<div class="upper-content">
  <%= link_to('トップページに戻る',root_path,class:"top-btn") %>
</div>
<div class="upper-explain-btn">
  <div id="prev-preposition">前へ</div>
  <div id ="insert-preposition-area">onを見て思い浮かべること</div>
  <div id="next-preposition">次へ</div>
</div>
<p class="small-comment">（大体のニュアンスが合っていればオッケー）</p>
<div id="exp-preposition" class="hidden">
</div>
<div id="change-btn">説明を見る</div>
<script type="text/javascript">
  $(document).ready(function() {
    $('#change-btn').click(function(){
      if($('#exp-preposition').hasClass('hidden')){
        $('#exp-preposition').removeClass('hidden')
        $('#change-btn').text('説明を隠す')
      } else {
        $('#exp-preposition').addClass('hidden')
        $('#change-btn').text('説明を見る')
      }
    })
  });
</script>