<div class="upper-content">
  <%= link_to('トップページに戻る',root_path,class:"top-btn") %>
</div>
<h1 class="opposite-lists-title" id="noun">反対語一覧シート（名詞）</h1>
<table>
  <tr>
    <td class="td"></td>
    <td>posibility</td>
    <td>impossibility</td>
    <td class="td"></td>
  </tr>
  <tr>
    <td ></td>
    <td>respect</td>
    <td>disrespect</td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td>employer</td>
    <td>employee</td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td>accuracy</td>
    <td>inaccuracy</td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td>competence</td>
    <td>incompetence</td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td>increase</td>
    <td>decrease</td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td>credior</td>
    <td>debtor</td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td>gain</td>
    <td>loss</td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td>retail</td>
    <td>wholesale</td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td>surplus</td>
    <td>deflict</td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td>cause</td>
    <td>effect</td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td>landlord</td>
    <td>tenant</td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td>shortcut</td>
    <td>detour</td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td>optimism</td>
    <td>pessimism</td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td>proponent</td>
    <td>opponent</td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td>demand</td>
    <td>supply</td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td>presence</td>
    <td>absence</td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td>sympathy</td>
    <td>antipathy</td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td>rejection</td>
    <td>acceptance</td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td>intake</td>
    <td>outlet</td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td>ancestor</td>
    <td>descendant</td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td>income</td>
    <td>outgo, expenses</td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td>superiority</td>
    <td>inferiority</td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td>maximum</td>
    <td>minimum</td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td>quantity</td>
    <td>quality</td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td>majority</td>
    <td>minority</td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td>entrance</td>
    <td>exit</td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td>upside</td>
    <td>downside</td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td>ease</td>
    <td>difficulty</td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td>loyalty</td>
    <td>disloyalty</td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td>downturn</td>
    <td>upturn</td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td>subordinate</td>
    <td>superior, boss</td>
    <td></td>
  </tr>
</table>

<h1 class="opposite-lists-title" id="adjective">反対語一覧シート（形容詞）</h1>
<table>
  <tr>
    <td class="td"></td>
    <td>round-trip</td>
    <td>one-way</td>
    <td class="td"></td>
  </tr>
  <tr>
    <td></td>
    <td>predictable</td>
    <td>unpredictable</td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td>irreponsible</td>
    <td>responsive</td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td>active</td>
    <td>passive</td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td>rural</td>
    <td>urban</td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td>numerable</td>
    <td>innumerable</td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td>voluntary</td>
    <td>compulsory / mandatory / obligatory</td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td>amateur</td>
    <td>professional</td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td>mature</td>
    <td>immature</td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td>tangible</td>
    <td>intangible</td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td>adequate</td>
    <td>inadequate</td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td>respect</td>
    <td>disrespect</td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td>abstract</td>
    <td>concrete</td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td>polite</td>
    <td>rude</td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td>certain</td>
    <td>uncertain</td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td>regular</td>
    <td>irregular</td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td>edible</td>
    <td>inedible</td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td>upright</td>
    <td>horizontal</td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td>authentic</td>
    <td>fake</td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td>understaffed</td>
    <td>overstaffed</td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td>irrelevant</td>
    <td>relevant</td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td>available</td>
    <td>unavailable</td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td>occupied</td>
    <td>unoccupied</td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td>latter</td>
    <td>former</td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td>chronic</td>
    <td>acute</td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td>poor</td>
    <td>affluent / rich / wealthy</td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td>considerate</td>
    <td>inconsiderate</td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td>conclusive</td>
    <td>inconclusive</td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td>conspicuous</td>
    <td>inconspicuous</td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td>brisk</td>
    <td>stagnant / sluggish</td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td>clear</td>
    <td>obscure, unclear</td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td>rational</td>
    <td>irrational</td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td>verbal, oral </td>
    <td>written</td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td>biased</td>
    <td>unbiased</td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td>stable</td>
    <td>unstable</td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td>inclusive</td>
    <td>exclusive</td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td>ethical</td>
    <td>unethical</td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td>diligent / industrious</td>
    <td>idle / lazy</td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td>minimal</td>
    <td>maximal</td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td>outdated</td>
    <td>fashionable</td>
    <td></td>
  </tr>
</table>  