<div class="upper-content">
  <%= link_to('トップページに戻る',root_path,class:"top-btn") %>
</div>
<h1 class="opposite-lists-title">反対語を覚えるとある良い効果の例</h1>
<div class="points">
  <ul class="point-lists">
    <li class="point-list">複数の文章の英文を読んだ時に、文章の対応関係が把握しやすくなる</li>
    <li class="point-list">1の例として逆説、対比などがわかりやすくなる</li>
    <li class="point-list">1の例として逆説、対比などがわかりやすくなる</li>
    <li class="point-list">1の例として逆説、対比などがわかりやすくなる</li>
  </ul>
</div>
<h1 class="opposite-lists-title" id="noun">反対語一覧（名詞）</h1>
<table>
  <tr>
    <td>可能性</td>
    <td>posibility</td>
    <td> impossibility</td>
    <td>不可能性</td>
  </tr>
  <tr>
    <td>敬意</td>
    <td>respect</td>
    <td>disrespect</td>
    <td>無礼</td>
  </tr>
  <tr>
    <td>雇い主</td>
    <td>employer</td>
    <td>employee</td>
    <td>従業員</td>
  </tr>
  <tr>
    <td>正確さ</td>
    <td>accuracy</td>
    <td>inaccuracy</td>
    <td>不正確さ</td>
  </tr>
  <tr>
    <td>適正</td>
    <td>competence</td>
    <td>incompetence</td>
    <td>不適正</td>
  </tr>
  <tr>
    <td>増加</td>
    <td>increase</td>
    <td>decrease</td>
    <td>データ</td>
  </tr>
  <tr>
    <td>債権者</td>
    <td>credior</td>
    <td>debtor</td>
    <td>債務者</td>
  </tr>
  <tr>
    <td>利益</td>
    <td>gain</td>
    <td>loss</td>
    <td>損失</td>
  </tr>
  <tr>
    <td>小売り</td>
    <td>retail</td>
    <td>wholesale</td>
    <td>卸売り</td>
  </tr>
  <tr>
    <td>黒字</td>
    <td>surplus</td>
    <td>deflict</td>
    <td>赤字</td>
  </tr>
  <tr>
    <td>原因</td>
    <td>cause</td>
    <td>effect</td>
    <td>結果</td>
  </tr>
  <tr>
    <td>家主</td>
    <td>landlord</td>
    <td>tenant</td>
    <td>借家人、借土人</td>
  </tr>
  <tr>
    <td>近道</td>
    <td>shortcut</td>
    <td>detour</td>
    <td>迂回路</td>
  </tr>
  <tr>
    <td>楽観主義</td>
    <td>optimism</td>
    <td>pessimism</td>
    <td>悲観主義</td>
  </tr>
  <tr>
    <td>支持者</td>
    <td>proponent</td>
    <td>opponent</td>
    <td>反対者</td>
  </tr>
  <tr>
    <td>重要</td>
    <td>demand</td>
    <td>supply</td>
    <td>供給</td>
  </tr>
  <tr>
    <td>出席</td>
    <td>presence</td>
    <td>absence</td>
    <td>欠席</td>
  </tr>
  <tr>
    <td>共感</td>
    <td>sympathy</td>
    <td>antipathy</td>
    <td>反感</td>
  </tr>
  <tr>
    <td>拒否</td>
    <td>rejection</td>
    <td>acceptance</td>
    <td>受け入れ</td>
  </tr>
  <tr>
    <td>吸い込み口</td>
    <td>intake</td>
    <td>outlet</td>
    <td>排出口</td>
  </tr>
  <tr>
    <td>祖先</td>
    <td>ancestor</td>
    <td>descendant</td>
    <td>子孫</td>
  </tr>
  <tr>
    <td>収入</td>
    <td>income</td>
    <td>outgo, expenses</td>
    <td>支出</td>
  </tr>
  <tr>
    <td>優越</td>
    <td>superiority</td>
    <td>inferiority</td>
    <td>劣等</td>
  </tr>
  <tr>
    <td>最大</td>
    <td>maximum</td>
    <td>minimum</td>
    <td>最小</td>
  </tr>
  <tr>
    <td>量</td>
    <td>quantity</td>
    <td>quality</td>
    <td>質</td>
  </tr>
  <tr>
    <td>多数派</td>
    <td>majority</td>
    <td>minority</td>
    <td>少数派</td>
  </tr>
  <tr>
    <td>入り口</td>
    <td>entrance</td>
    <td>exit</td>
    <td>出口</td>
  </tr>
  <tr>
    <td>よい面、上側</td>
    <td>upside</td>
    <td>downside</td>
    <td>悪い面、下側</td>
  </tr>
  <tr>
    <td>容易さ</td>
    <td>ease</td>
    <td>difficulty</td>
    <td>難しさ</td>
  </tr>
  <tr>
    <td>忠義、忠実、誠実</td>
    <td>loyalty</td>
    <td>disloyalty</td>
    <td>不忠実、不誠実</td>
  </tr>
  <tr>
    <td>下落</td>
    <td>downturn</td>
    <td>upturn</td>
    <td>好転</td>
  </tr>
  <tr>
    <td>部下</td>
    <td>subordinate</td>
    <td>superior, boss</td>
    <td>上司</td>
  </tr>
</table>
<h1 class="opposite-lists-title" id="adjective">反対語一覧（形容詞）</h1>
<table>
  <tr>
    <td>往復の</td>
    <td>round-trip</td>
    <td>one-way</td>
    <td>片道の</td>
  </tr>
  <tr>
    <td>予想可能な</td>
    <td>predictable</td>
    <td>unpredictable</td>
    <td>予想不可能な</td>
  </tr>
  <tr>
    <td>無責任な</td>
    <td>irreponsible</td>
    <td>responsive</td>
    <td>責任のある</td>
  </tr>
  <tr>
    <td>能動的な</td>
    <td>active</td>
    <td>passive</td>
    <td>受動的な</td>
  </tr>
  <tr>
    <td>田舎の</td>
    <td>rural</td>
    <td>urban</td>
    <td>都会の</td>
  </tr>
  <tr>
    <td>数えられる</td>
    <td>numerable</td>
    <td>innumerable</td>
    <td>数え切れない</td>
  </tr>
  <tr>
    <td>自発的な</td>
    <td>voluntary</td>
    <td>compulsory / mandatory / obligatory</td>
    <td>強制的な</td>
  </tr>
  <tr>
    <td>素人の</td>
    <td>amateur</td>
    <td>professional</td>
    <td>専門家の</td>
  </tr>
  <tr>
    <td>熟した</td>
    <td>mature</td>
    <td>immature</td>
    <td>未熟な</td>
  </tr>
  <tr>
    <td>有形の</td>
    <td>tangible</td>
    <td>intangible</td>
    <td>無形の</td>
  </tr>
  <tr>
    <td>十分な</td>
    <td>adequate</td>
    <td>inadequate</td>
    <td>不十分な</td>
  </tr>
  <tr>
    <td>敬意</td>
    <td>respect</td>
    <td>disrespect</td>
    <td>無礼</td>
  </tr>
  <tr>
    <td>抽象的な</td>
    <td>abstract</td>
    <td>concrete</td>
    <td>具体的な</td>
  </tr>
  <tr>
    <td>礼儀正しい意</td>
    <td>polite</td>
    <td>rude</td>
    <td>失礼な</td>
  </tr>
  <tr>
    <td>確かな</td>
    <td>certain</td>
    <td>uncertain</td>
    <td>不確かな</td>
  </tr>
  <tr>
    <td>定期的な</td>
    <td>regular</td>
    <td>irregular</td>
    <td>不定期な</td>
  </tr>
  <tr>
    <td>食用の</td>
    <td>edible</td>
    <td>inedible</td>
    <td>食用でない</td>
  </tr>
  <tr>
    <td>垂直の</td>
    <td>upright</td>
    <td>horizontal</td>
    <td>水平の</td>
  </tr>
  <tr>
    <td>本物の</td>
    <td>authentic</td>
    <td>fake</td>
    <td>偽物の</td>
  </tr>
  <tr>
    <td>人手不足の</td>
    <td>understaffed</td>
    <td>overstaffed</td>
    <td>人員過剰の</td>
  </tr>
  <tr>
    <td>無関係の</td>
    <td>irrelevant</td>
    <td>relevant</td>
    <td>関係のある</td>
  </tr>
  <tr>
    <td>入手可能な</td>
    <td>available</td>
    <td>unavailable</td>
    <td>入手不可能な</td>
  </tr>
  <tr>
    <td>使用中の</td>
    <td>occupied</td>
    <td>unoccupied</td>
    <td>使用されていない</td>
  </tr>
  <tr>
    <td>後者の</td>
    <td>latter</td>
    <td>former</td>
    <td>前者の</td>
  </tr>
  <tr>
    <td>慢性の</td>
    <td>chronic</td>
    <td>acute</td>
    <td>急性の</td>
  </tr>
  <tr>
    <td>貧乏な</td>
    <td>poor</td>
    <td>affluent / rich / wealthy</td>
    <td>豊かな</td>
  </tr>
  <tr>
    <td>思いやりのある</td>
    <td>considerate</td>
    <td>inconsiderate</td>
    <td>思いやりのない</td>
  </tr>
  <tr>
    <td>決定的な</td>
    <td>conclusive</td>
    <td>inconclusive</td>
    <td>決定的でない</td>
  </tr>
  <tr>
    <td>目立つ</td>
    <td>conspicuous</td>
    <td>inconspicuous</td>
    <td>目立たない</td>
  </tr>
  <tr>
    <td>活況の</td>
    <td>brisk</td>
    <td>stagnant / sluggish</td>
    <td>停滞した</td>
  </tr>
  <tr>
    <td>明確な</td>
    <td>clear</td>
    <td>obscure, unclear</td>
    <td>曖昧な</td>
  </tr>
  <tr>
    <td>合理的な</td>
    <td>rational</td>
    <td>irrational</td>
    <td>非合理的な</td>
  </tr>
  <tr>
    <td>言葉による</td>
    <td>verbal, oral </td>
    <td>written</td>
    <td>文章による</td>
  </tr>
  <tr>
    <td>偏った</td>
    <td>biased</td>
    <td>unbiased</td>
    <td>偏見のない</td>
  </tr>
  <tr>
    <td>安定した</td>
    <td>stable</td>
    <td>unstable</td>
    <td>不安定な</td>
  </tr>
  <tr>
    <td>含んだ</td>
    <td>inclusive</td>
    <td>exclusive</td>
    <td>排除した</td>
  </tr>
  <tr>
    <td>倫理的な</td>
    <td>ethical</td>
    <td>unethical</td>
    <td>非倫理的な</td>
  </tr>
  <tr>
    <td>勤勉な</td>
    <td>diligent / industrious</td>
    <td>idle / lazy</td>
    <td>怠惰な</td>
  </tr>
  <tr>
    <td>最小の</td>
    <td>minimal</td>
    <td>maximal</td>
    <td>最大の</td>
  </tr>
  <tr>
    <td>時代遅れの</td>
    <td>outdated</td>
    <td>fashionable</td>
    <td>流行の</td>
  </tr>
</table>  
<div class="opposite-footer"></div>