<div class="upper-content">
  <%= link_to('トップページに戻る',root_path,class:"top-btn") %>
</div>
<div class="preposition-images">
  <div class="three-prepositions">
    <div class="one-preposition">
      <%= image_tag("above.png",class:"preposition-image") %>
      <h2 class="preposition-name">above</h2>
    </div>
    <div class="one-preposition">
      <%= image_tag("above.png",class:"preposition-image") %>
      <h2 class="preposition-name">above</h2>
    </div>
    <div class="one-preposition">
      <%= image_tag("above.png",class:"preposition-image") %>
      <h2 class="preposition-name">above</h2>
    </div>
  </div>
</div>