<div class="upper-content">
  <%= link_to('トップページに戻る',root_path,class:"top-btn") %>
</div>
<h1 class="similar-lists-title" >類義語一覧シート（名詞）</h1>
<table>
  <tr>
    <td class="td"></td>
    <td>customer</td>
    <td>client</td>
  </tr>
  <tr>
    <td></td>
    <td>answer</td>
    <td>reply</td>
  </tr>
  <tr>
    <td></td>
    <td>chance</td>
    <td>opportunity</td>
  </tr>
  <tr>
    <td></td>
    <td>exhibition</td>
    <td>fair</td>
  </tr>
  <tr>
    <td></td>
    <td>odor</td>
    <td>smell</td>
  </tr>
  <tr>
    <td></td>
    <td>belongings</td>
    <td>possessions</td>
  </tr>
  <tr>
    <td></td>
    <td>convention</td>
    <td>congress</td>
  </tr>
  <tr>
    <td></td>
    <td>invoice</td>
    <td>bill</td>
  </tr>
  <tr>
    <td></td>
    <td>reservation</td>
    <td>booking</td>
  </tr>
  <tr>
    <td></td>
    <td>evidence</td>
    <td>proof</td>
  </tr>
  <tr>
    <td></td>
    <td>position</td>
    <td>post</td>
  </tr>
  <tr>
    <td></td>
    <td>progress</td>
    <td>advance</td>
  </tr>
  <tr>
    <td></td>
    <td>draft</td>
    <td>manuscript</td>
  </tr>
  <tr>
    <td></td>
    <td>help</td>
    <td>aid</td>
  </tr>
  <tr>
    <td></td>
    <td>cuisine</td>
    <td>cooking</td>
  </tr>
  <tr>
    <td></td>
    <td>excerpt</td>
    <td>extract</td>
  </tr>
  <tr>
    <td></td>
    <td>promptness</td>
    <td>speed</td>
  </tr>
  <tr>
    <td></td>
    <td>effort</td>
    <td>endeavor</td>
  </tr>
  <tr>
    <td></td>
    <td>achievement</td>
    <td>success</td>
  </tr>
  <tr>
    <td></td>
    <td>correspondence</td>
    <td>communication</td>
  </tr>
  <tr>
    <td></td>
    <td>disorder</td>
    <td>confusion</td>
  </tr>
  <tr>
    <td></td>
    <td>hallway</td>
    <td>corridor</td>
  </tr>
  <tr>
    <td></td>
    <td>pastime</td>
    <td>hobby</td>
  </tr>
  <tr>
    <td></td>
    <td>area</td>
    <td>region</td>
  </tr>
  <tr>
    <td></td>
    <td>incentive</td>
    <td>motivation</td>
  </tr>
  <tr>
    <td></td>
    <td>constrain</td>
    <td>restriction</td>
  </tr>
  <tr>
    <td></td>
    <td>appraisal</td>
    <td>assessment, evaluation</td>
  </tr>
  <tr>
    <td></td>
    <td>intermission</td>
    <td>pause, break</td>
  </tr>
  <tr>
    <td></td>
    <td>accuracy</td>
    <td>precision</td>
  </tr>
  <tr>
    <td></td>
    <td>reward</td>
    <td>remuneration</td>
  </tr>
  <tr>
    <td></td>
    <td>authorization</td>
    <td>permission</td>
  </tr>
  <tr>
    <td></td>
    <td>exemption</td>
    <td>reduction</td>
  </tr>
  <tr>
    <td></td>
    <td>fitness</td>
    <td>health</td>
  </tr>
  <tr>
    <td></td>
    <td>revelation</td>
    <td>disclosure</td>
  </tr>
  <tr>
    <td></td>
    <td>liability</td>
    <td>responsibility</td>
  </tr>
  <tr>
    <td></td>
    <td>takeover</td>
    <td>buyout</td>
  </tr>
  <tr>
    <td></td>
    <td>acclaim</td>
    <td>praise</td>
  </tr>
  <tr>
    <td></td>
    <td>enterprise</td>
    <td>company</td>
  </tr>
  <tr>
    <td></td>
    <td>merchandise</td>
    <td>goods</td>
  </tr>
  <tr>
    <td></td>
    <td>brochure</td>
    <td>pamphlet, booklet</td>
  </tr>
</table>