<table>
  <tr>
    <td>顧客</td>
    <td>customer</td>
    <td>client</td>
  </tr>
  <tr>
    <td>答え</td>
    <td>answer</td>
    <td>reply</td>
  </tr>
  <tr>
    <td>機会</td>
    <td>chance</td>
    <td>opportunity</td>
  </tr>
  <tr>
    <td>展示会</td>
    <td>exhibition</td>
    <td>fair</td>
  </tr>
  <tr>
    <td>臭い</td>
    <td>odor</td>
    <td>smell</td>
  </tr>
  <tr>
    <td>所持品</td>
    <td>belongings</td>
    <td>possessions</td>
  </tr>
  <tr>
    <td>会議</td>
    <td>convention</td>
    <td>congress</td>
  </tr>
  <tr>
    <td>請求書</td>
    <td>invoice</td>
    <td>bill</td>
  </tr>
  <tr>
    <td>予約</td>
    <td>reservation</td>
    <td>booking</td>
  </tr>
  <tr>
    <td>証拠</td>
    <td>evidence</td>
    <td>proof</td>
  </tr>
  <tr>
    <td>職</td>
    <td>position</td>
    <td>post</td>
  </tr>
  <tr>
    <td>進歩</td>
    <td>progress</td>
    <td>advance</td>
  </tr>
  <tr>
    <td>草稿</td>
    <td>draft</td>
    <td>manuscript</td>
  </tr>
  <tr>
    <td>援助</td>
    <td>help</td>
    <td>aid</td>
  </tr>
  <tr>
    <td>料理</td>
    <td>couisin</td>
    <td>cooking</td>
  </tr>
  <tr>
    <td>引用</td>
    <td>exerpt</td>
    <td>extract</td>
  </tr>
  <tr>
    <td>素早さ</td>
    <td>promtness</td>
    <td>speed</td>
  </tr>
  <tr>
    <td>努力</td>
    <td>effort</td>
    <td>endeavor</td>
  </tr>
  <tr>
    <td>成功</td>
    <td>achievement</td>
    <td>success</td>
  </tr>
  <tr>
    <td>通信</td>
    <td>correspondence</td>
    <td>communication</td>
  </tr>
  <tr>
    <td>混乱</td>
    <td>disorder</td>
    <td>confusion</td>
  </tr>
  <tr>
    <td>通路</td>
    <td>hallway</td>
    <td>corridor</td>
  </tr>
  <tr>
    <td>趣味</td>
    <td>pastime</td>
    <td>hobby</td>
  </tr>
  <tr>
    <td>地域</td>
    <td>area</td>
    <td>region</td>
  </tr>
  <tr>
    <td>動機</td>
    <td>incentive</td>
    <td>motivation</td>
  </tr>
  <tr>
    <td>制約</td>
    <td>constrain</td>
    <td>restriction</td>
  </tr>
  <tr>
    <td>評価</td>
    <td>appraisal</td>
    <td>assessment, evaluation</td>
  </tr>
  <tr>
    <td>合間、休止</td>
    <td>intermission</td>
    <td>pause, break</td>
  </tr>
  <tr>
    <td>正確さ</td>
    <td>accuracy</td>
    <td>precision</td>
  </tr>
  <tr>
    <td>報酬</td>
    <td>reward</td>
    <td>remuneration</td>
  </tr>
  <tr>
    <td>認可</td>
    <td>authorization</td>
    <td>permission</td>
  </tr>
  <tr>
    <td>控除</td>
    <td>exemption</td>
    <td>reduction</td>
  </tr>
  <tr>
    <td>健康</td>
    <td>fitness</td>
    <td>health</td>
  </tr>
  <tr>
    <td>暴露</td>
    <td>revelation</td>
    <td>disclosure</td>
  </tr>
  <tr>
    <td>責任</td>
    <td>liability</td>
    <td>responsibility</td>
  </tr>
  <tr>
    <td>企業買収</td>
    <td>takeover</td>
    <td>buyout</td>
  </tr>
  <tr>
    <td>称賛</td>
    <td>acclain</td>
    <td>praise</td>
  </tr>
  <tr>
    <td>企業</td>
    <td>enterprise</td>
    <td>company</td>
  </tr>
  <tr>
    <td>商品</td>
    <td>merchandise</td>
    <td>goods</td>
  </tr>
  <tr>
    <td>小冊子</td>
    <td>brochure</td>
    <td>pamphlet, booklet</td>
  </tr>
</table>