<div class="upper-content">
  <%= link_to('トップページに戻る',root_path,class:"top-btn") %>
</div>

<div class="contents">
  <div class="problem">
    <p>study</p>  
  </div>
  <div class="answer-btn">
    答えを見る
  </div>
</div>

<div class="under-contents">
  <button id ="prev">前へ</button>
  <div id="answer">
    勉強する
  </div>
  <button id ="next">次へ</button>
</div>
