<div class="upper-content">
  <%= link_to('トップページに戻る',root_path,class:"top-btn") %>
</div>
<h1 class="unexpected-lists-title" >意外な意味を持つ英単語一覧</h1>
<table>
  <tr>
    <td>死体、機関</td>
    <td>body</td>
  </tr>
  <tr>
    <td>真実、事件</td>
    <td>case</td>
  </tr>
  <tr>
    <td>情勢</td>
    <td>landscape</td>
  </tr>
  <tr>
    <td>遮蔽物</td>
    <td>screen</td>
  </tr>
  <tr>
    <td>うっかりした間違い</td>
    <td>slip</td>
  </tr>
  <tr>
    <td>取り出す</td>
    <td>produce</td>
  </tr>
  <tr>
    <td>AをBにゆだねる</td>
    <td>commit A to B</td>
  </tr>
  <tr>
    <td>感情を抑える</td>
    <td>contain</td>
  </tr>
  <tr>
    <td>新語を作り出す</td>
    <td>coin</td>
  </tr>
  <tr>
    <td>表現を使う</td>
    <td>speak</td>
  </tr>
  <tr>
    <td>大物</td>
    <td>somebody</td>
  </tr>
  <tr>
    <td>犠牲</td>
    <td>cost</td>
  </tr>
  <tr>
    <td>高級な</td>
    <td>fancy</td>
  </tr>
  <tr>
    <td>述べる、成し遂げる</td>
    <td>deliver</td>
  </tr>
  <tr>
    <td>長持ちする</td>
    <td>wear well</td>
  </tr>
  <tr>
    <td>感情をうっかり漏らす</td>
    <td>betray</td>
  </tr>
  <tr>
    <td>少しの〜もない</td>
    <td>not a grain of</td>
  </tr>
  <tr>
    <td>本質</td>
    <td>substance</td>
  </tr>
  <tr>
    <td>言語</td>
    <td>speech</td>
  </tr>
  <tr>
    <td>悪意を心に抱く</td>
    <td>harbor</td>
  </tr>
  <tr>
    <td>特徴付ける</td>
    <td>mark</td>
  </tr>
  <tr>
    <td>古典的な</td>
    <td>classic</td>
  </tr>
  <tr>
    <td>最近死んだ</td>
    <td>late</td>
  </tr>
  <tr>
    <td>結果</td>
    <td>product</td>
  </tr>
  <tr>
    <td>考えや感情を抱く</td>
    <td>entertain</td>
  </tr>
  <tr>
    <td>不幸な考えがつきまとう</td>
    <td>haunt</td>
  </tr>
  <tr>
    <td>属性を持っている</td>
    <td>carry</td>
  </tr>
  <tr>
    <td>でっち上げる</td>
    <td>invent</td>
  </tr>
  <tr>
    <td>ちょっとした違い</td>
    <td>shade</td>
  </tr>
  <tr>
    <td>コツ</td>
    <td>trick</td>
  </tr>
  <tr>
    <td>遠慮</td>
    <td>reserve</td>
  </tr>
  <tr>
    <td>〜を不安にさせる</td>
    <td>alarm</td>
  </tr>
  <tr>
    <td>避ける</td>
    <td>help</td>
  </tr>
  <tr>
    <td>落ち着かせる</td>
    <td>compose</td>
  </tr>
  <tr>
    <td>発言権</td>
    <td>say</td>
  </tr>
  <tr>
    <td>獲物</td>
    <td>game</td>
  </tr>
  <tr>
    <td>ハッとすること</td>
    <td>start</td>
  </tr>
  <tr>
    <td>許可</td>
    <td>leave</td>
  </tr>
  <tr>
    <td>学派</td>
    <td>school</td>
  </tr>
  <tr>
    <td>ほんの</td>
    <td>but</td>
  </tr>
  <tr>
    <td>絶頂</td>
    <td>height</td>
  </tr>
  <tr>
    <td>特権や良い物を持っている</td>
    <td>enjoy</td>
  </tr>
  <tr>
    <td>率いる</td>
    <td>head</td>
  </tr>
  <tr>
    <td>綱領</td>
    <td>platform</td>
  </tr>
  <tr>
    <td>少しの</td>
    <td>a touch of</td>
  </tr>
  <tr>
    <td>慰め</td>
    <td>comfort</td>
  </tr>
</table>