// Place all the styles related to the skills controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com.
body {
  font-size: 14px;
  color: #333;
  margin: 0 auto;
  font-family: monospace;
}
h1,h2,h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
}

ul,li {
  padding: 0;
  margin: 0;
}


header{
  height:90px;
  border-bottom:1px solid black;
  display:flex;
  justify-content: space-between;
}
.header-right{
  width:200px;
  height:80px;
  // border:1px solid black;
  font-size:20px;
  line-height:60px;
  display:flex;
  justify-content: space-around;
}
.image-space{
  width:100px;
  height:80px;
  // border:1px solid black;
}
.image{
  width:70px;
  height:70px;
  margin-left:20px;
}
.header-left{
  width:250px;
  height:80px;
  // border :1px solid black;
  margin:10px 0 10px 10px;
  display:flex;
  justify-content: space-between;
}
.login-btn {
  // border:1px solid black;
  height:60px;
  line-height:60px;
  font-size:20px;
}
.new-regist-btn{
  // border:1px solid black;
  height:60px;
  line-height:60px;
  font-size:20px;
}
.btn{
  text-decoration: none;
}
.title{
  font-size:18px;
  margin:0 auto;
  text-align:center;
  background:rgb(224, 255, 255);
  border:1px solid black;
  width:400px;
  margin:10px auto 0;
}
.lists{
  // border:1px solid black;
  width:600px;
  margin:20px auto 0;
  height:600px;
  line-height:150px;
  font-size:20px;
  font-weight:bold;
}
.list {
  list-style: none;
  border:1px solid black;
  height:135px;
  list-style:none;
  margin:10px 0 10px;
  background:rgb(0, 255, 0);
  color:white;
  border-radius:4px;
  padding-left:20px;
}
.list:hover{
  opacity:0.7;
}

.upper-content{
  border:1px solid black;
  width:300px;
  height:80px;
  text-align:center;
  margin:10px auto 0;
  font-size:25px;
  line-height:80px;
  background:rgb(0, 255, 0);
  border-radius:4px;
}
.upper-content:hover{
  opacity:0.7;
}
.top-btn{
  text-decoration: none;
}
.contents{
  // border:1px solid black;
  width:600px;
  height:400px;
  margin:10px auto 0;
  text-align:center;
}
.problem{
  border:1px solid black;
  margin:10px 0 20px;
  height:300px;
  line-height:300px;
  font-size:40px;
  border-radius:100px;
}
.answer-btn{
  // border:1px solid black;
  margin:0 auto 10px;
  height:60px;
  line-height:60px;
  font-size:20px;
  width:300px;
  background:rgb(0, 255, 0);
  border-radius:4px;
}
.answer-btn:hover{
  opacity:0.7;
}
.under-contents{
  // border:1px solid black;
  display:flex;
  justify-content: space-around;
  height:80px;
  width:600px;
  margin:10px auto 0;
}
#answer{
  border:1px solid black;
  height:80px;
  line-height:80px;
  text-align:center;
  width:200px;
  font-size:20px;
  border-radius:10px;
  background:rgb(255,0,0)
}
.hidden{
  visibility:hidden;
}
#prev,#next{
  height:60px;
  width:80px;
  margin:10px 0 10px; 
}