// Place all the styles related to the skills controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com.
body {
  font-size: 14px;
  color: #333;
  margin: 0 auto;
  font-family: monospace;
  background:#FFFFCC;
}
h1,h2,h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
}

ul,li {
  padding: 0;
  margin: 0;
}


header{
  height:90px;
  border-bottom:1px solid black;
  display:flex;
  justify-content: space-between;
}
.header-right{
  width:200px;
  height:80px;
  // border:1px solid black;
  font-size:20px;
  line-height:60px;
  display:flex;
  justify-content: space-around;
}
.image-space{
  width:100px;
  height:80px;
  // border:1px solid black;
}
.image{
  width:70px;
  height:70px;
  margin-left:20px;
}
.header-left{
  width:250px;
  height:80px;
  // border :1px solid black;
  margin:10px 0 10px 10px;
  display:flex;
  justify-content: space-between;
}
.login-btn {
  // border:1px solid black;
  height:60px;
  line-height:60px;
  font-size:20px;
}
.new-regist-btn{
  // border:1px solid black;
  height:60px;
  line-height:60px;
  font-size:20px;
}
.logout-btn{
  // border:1px solid black;
  height:60px;
  line-height:60px;
  font-size:20px;
}
.mypage-btn{
  // border:1px solid black;
  height:60px;
  line-height:60px;
  font-size:20px;
}
.btn{
  text-decoration: none;
}
.title{
  font-size:18px;
  margin:0 auto;
  text-align:center;
  background:rgb(224, 255, 255);
  border:1px solid black;
  width:400px;
  margin:10px auto 0;
}
.lists{
  // border:1px solid black;
  width:600px;
  margin:20px auto 0;
  height:600px;
  line-height:150px;
  font-size:20px;
  font-weight:bold;
}
.list {
  list-style: none;
  border:1px solid black;
  height:135px;
  list-style:none;
  margin:10px 0 10px;
  background:rgb(0, 255, 0);
  color:white;
  border-radius:4px;
  padding-left:20px;
}
.list:hover{
  opacity:0.7;
}

.upper-content{
  border:1px solid black;
  width:300px;
  height:80px;
  text-align:center;
  margin:10px auto 0;
  font-size:25px;
  line-height:80px;
  background:rgb(0, 255, 0);
  border-radius:4px;
}
.upper-content:hover{
  opacity:0.7;
}
.top-btn{
  text-decoration: none;
}
.contents{
  // border:1px solid black;
  width:600px;
  height:400px;
  margin:10px auto 0;
  text-align:center;
}
.problem{
  border:1px solid black;
  margin:10px 0 20px;
  height:300px;
  line-height:300px;
  font-size:40px;
  border-radius:100px;
}
.answer-btn{
  // border:1px solid black;
  margin:0 auto 10px;
  height:60px;
  line-height:60px;
  font-size:20px;
  width:300px;
  background:rgb(0, 255, 0);
  border-radius:4px;
}
.answer-btn:hover{
  opacity:0.7;
}
.under-contents{
  // border:1px solid black;
  display:flex;
  justify-content: space-around;
  height:80px;
  width:600px;
  margin:10px auto 0;
}
#answer{
  border:1px solid black;
  height:80px;
  line-height:80px;
  text-align:center;
  width:200px;
  font-size:20px;
  border-radius:10px;
  background:rgb(255,0,0);
  // visibility:visible
}
.hidden{
  visibility:hidden;
  // display:none;
}
#prev,#next{
  height:60px;
  width:80px;
  margin:10px 0 10px; 
}
.test-text{
  // border:1px solid black;
  height:50px;
  width:600px;
  margin:10px auto 0;
  text-align:center;
  line-height:50px;
  font-size:20px;
}
#text-area{
  // border:1px solid red;
  height:400px;
  position:relative;
}
#question-text{
  height:50px;
  width:400px;
  margin:10px auto 0;
  text-align:center;
  line-height:50px;
  font-size:20px;
  border-bottom:3px solid black;
}
.image-text{
  // border:1px solid black;
  display:flex;
  justify-content: space-around;
  align-items: center;
  height:80px;
}
#question{
  font-size:20px;
  width:200px;
  border-bottom:3px solid black;
  text-align:center;
}
#choices > li.selected{
  background:aqua;
}
#form{
  width:300px;
  height:150px;
  background:rgb(129, 129, 136);
  position:absolute;
  top:30px;
  left:0;
  right:0;
  margin:0 auto;
  border-radius:4px;
  text-align:center;
  font-size:25px;
  transition:0.4s;
  z-index:2;
}
#form.hidden{
  transform:translateY(-500px);
}
.choices-area{
  // border:1px solid pink;
  height:260px;
}
.choice{
  // border:1px solid black;
  width:300px;
  height:50px;
  margin:10px auto 0;
  list-style: none;
  line-height:50px;
  text-align:center;
  border-radius:4px;
  font-size:20px;
  background:#4169e1;
  font-weight:bold;
}
#choices > li
.choice:hover{
  opacity:0.7;
}
#btn{
  width:400px;
  height:40px;
  // border:1px solid pink;
  margin:10px auto 0;
  text-align:center;
  line-height:40px;
  border-radius:4px;
  background:rgb(0, 255, 0);
  cursor:pointer;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}
.sign-up-in{
  // border:1px solid black;
  width:200px;
  height:50px;
  text-align:center;
  margin:10px auto 0;
  font-size:30px;
}
.registration-form{
  // border:1px solid black;
}
.field{
  // border:1px solid black;
  height:150px;
  width:400px;
  text-align:center;
  margin:10px auto 0;
  font-size:30px;
}
.actions{
  // border:1px solid black;
  width:400px;
  height:160px;
  text-align:center;
  margin:10px auto 0;
  line-height:40px;
}
.input-default{
  width:80%;
  height:50px;
  margin-top:10px;
}
.submit-btn{
  font-size:30px;
}
#error_explanation{
  // border:1px solid black;
  width:300px;
  height:200px;
  text-align:center;
  margin:10px auto 0;
  font-size:15px;
}
#error_explanation ul li{
  list-style:none;
}
